@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body { 
    height: 100%;
    margin: 0;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.hero1{
    background-image: url(img1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.hero2{
    background-image: url(img2.jpg);
    min-height: 400px;
}
.hero3{
    background-image: url(img3.jpg);
    min-height: 400px;
}
.hero4{
    background-image: url(img4.jpg);
    min-height: 400px;
}
.hero5{
    background-image: url(img5.jpg);
    min-height: 400px;
}.hero6{
    background-image: url(img6.jpg);
    min-height: 400px;
}
.hero7{
    background-image: url(img7.jpg);
    min-height: 400px;
}.hero8{
    background-image: url(img8.jpg);
    min-height: 400px;
}
.hero9{
    background-image: url(img9.jpg);
    min-height: 400px;
}
.hero10{
    background-image: url(img10.jpg);
    min-height: 400px;
}

.hero1,.hero2,.hero3,.hero4,.hero5,.hero6 ,.hero7,.hero8 ,.hero9,.hero10{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;

}
.container{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #d2e7fd;
    text-align: center;
    letter-spacing: 20px;
    font-size: 30px;
    
    
}
.textbz{
    border-radius: 20px;
    background-color:#0b1220;
    padding: 10px
    
        
}
.textbz:hover{
    transform: scale(1.04);
    box-shadow: 6px 5px 10px rgba(1, 1, 1,0.5);
    transition: 0.5s ease-in-out;
    border-radius: 50px;
}
.dark{
    padding: 50px 80px;
    text-align: center;
}
.dark h1{
    font-size: 30px;
    letter-spacing: 15px;
}
.dark p{
    margin-top: 20px;
}

footer{
    background-color: black;
    padding: 2vh;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    text-align: center;
}





.mscursor-cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }

  .mscursor-difference{
    mix-blend-mode: difference;
  }
  
  .mscursor-circle {
      transform-origin: center;
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 20px;
  }

  .mscursor-border-transform{
    animation: border-transform 3s linear infinite;
  }
  
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  
  .mscursor-scale{
    transition: 0.1s ease;
    transform: scale(1.6);
  }
  
  .mscursor-scale-outline{
    transform:scale(1.9);
    background-color: transparent !important;
  }
  
  
  .mscursor-nocursor{
    cursor:none!important;
  }